</main>

<div class="footer-container">
  <footer class="d-flex align-items-center justify-content-center border-top mt-5 pt-5">
    <p>Copyright © <%= new Date().getFullYear(); %></p>
  </footer>
</div>
</body>

</html>